.App {
  text-align: center;
  color: aliceblue;
  overflow-anchor: none;
}

body {
  /* max-width: 75; */
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textWrapper {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  max-width: 40%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 2%;
  box-sizing: border-box;
  margin: 2% auto;
  min-width: 47%;
  max-width: 80%;
  border-radius: 5px;
  transition: transform 0.2s;
}

button {
  transition: transform 0.2s;
}

table,
th,
td {
  border: 1px solid;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.BoxWrapper {
  padding: 3.5%;
  margin-inline: 3.5%;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 10px #0000002d;
  align-items: center;
  background-color: #0000001d;
}
nav {
  display: flex;
  min-width: 50vw;
  justify-content: space-evenly;
}

header,
footer {
  padding: 50px 0px 50px;
}

a {
  margin-inline: 2.5%;

  font-size: x-large;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  padding: 0.5%;
  margin-bottom: 1%;
}

.card {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #0062ff85, #60efff85);
  box-shadow: 0px 0px 10px 10px #0000005d;
  border-radius: 30px;
  flex-direction: column;
  padding: 2.5%;
  margin: 1.5%;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
