.App {
  text-align: center;
  color: aliceblue;
}
body {
  /* max-width: 75; */
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 2%;
  margin: 2% auto;
  background-color: #0000001d;
  min-width: 47%;
  max-width: 80%;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

button {
  transition: transform 0.2s;
}
form {
  margin-inline: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
nav {
  display: flex;
  min-width: 50vw;
  justify-content: space-evenly;
}
header,
footer {
  padding: 50px 0px 50px;
}
a {
  font-size: x-large;
  color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  padding: 0.5%;
  margin-bottom: 1%;
}

.card {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 75vw;
  min-height: 20vh;
  background: linear-gradient(to right, #0062ff85, #60efff85);
  box-shadow: 0px 0px 10px 10px #0000005d;
  border-radius: 30px;
  flex-direction: column;
  padding: 2.5%;
  margin: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
